<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
<isolation>TRANSACTION_SERIALIZABLE</isolation>
<scalefactor>100</scalefactor>
<terminals>4</terminals>
<works>
<work>
<time>30</time>
<rate>10000</rate>
<weights>10</weights>
<weights>10</weights>
<weights>10</weights>
<weights>10</weights>
<weights>10</weights>
<weights>10</weights>
<weights>10</weights>
<weights>10</weights>
<weights>20</weights>
</work>
</works>
<transactiontypes>
<transactiontype>
<name>GetReviewItemById</name>
</transactiontype>
<transactiontype>
<name>GetReviewsByUser</name>
</transactiontype>
<transactiontype>
<name>GetAverageRatingByTrustedUser</name>
</transactiontype>
<transactiontype>
<name>GetItemAverageRating</name>
</transactiontype>
<transactiontype>
<name>GetItemReviewsByTrustedUser</name>
</transactiontype>
<transactiontype>
<name>UpdateUserName</name>
</transactiontype>
<transactiontype>
<name>UpdateItemTitle</name>
</transactiontype>
<transactiontype>
<name>UpdateReviewRating</name>
</transactiontype>
<transactiontype>
<name>UpdateTrustRating</name>
</transactiontype>
</transactiontypes>
</configuration>
